<nav class="navbar navbar-expand-lg navbar-dark" style="margin-bottom: 2%;background-color:rgb(255, 0, 0)">
  
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
   
    <ul class="navbar-nav">
      <li class="nav-item">
        <button type="button"class="btn btn-outline-light" routerLinkActive="active"  routerLink="/home"  >Home </button>&nbsp;&nbsp;

    <li class="nav-item">
      <button type="button"class="btn btn-outline-light" routerLinkActive="active" *ngIf="!_auth.loggedIn()" routerLink="/login">Log In</button>&nbsp;&nbsp;
    </li>
    <!-- <button type="button"class="btn btn-outline-light" routerLinkActive="active" *ngIf="!_auth.loggedIn()"  routerLink="/signup">Sign Up</button> -->

    <button type="button"class="btn btn-outline-light" routerLinkActive="active" *ngIf="_auth.loggedIn()" routerLink="/books">Books</button>&nbsp;&nbsp;
    <button type="button"class="btn btn-outline-light" routerLinkActive="active" *ngIf="_auth.loggedIn()" routerLink="/authors">Authors</button>&nbsp;&nbsp;
    <button type="button"class="btn btn-outline-light" routerLinkActive="active" *ngIf="_auth.loggedIn() &&_auth.role ==='admin'" routerLink="/addbook">Add Book</button>&nbsp;&nbsp;

    <button type="button"class="btn btn-outline-light" routerLinkActive="active" *ngIf="_auth.loggedIn() &&_auth.role ==='admin'" routerLink="/addauthor">Add Author</button>&nbsp;&nbsp;
      <button type="button"class="btn btn-outline-light" *ngIf="_auth.loggedIn()" (click)="logoutUser()">Logout</button>
    </ul>
  </div>
</div>
</nav>    
<div style="text-align:center">
  <h1 >
    Read and Explore
  </h1>
  <br>
  “Reading is like travel, allowing you to exit your own life for a bit, and to come back with
   a renewed, even inspired, perspective.”
Whilst the word ‘power’ has for a long time been associated with muscular strength, 
the word ‘knowledge’ has always been connected with the mind. The two words do not seem to
 have any connection whatsoever. However, today the world power has undergone a tremendous
  transformation. 
Today it is commonly recognised that the pen is mightier than the sword.
</div>

  
<div id="bg" class="container">
  <router-outlet></router-outlet>           
</div>
<br>
<br>
<div id="footer">
  <footer style="background-color:rgb(255, 0, 0);width:100%;height:50px;color: white;text-align: center;bottom: 0%;position:fixed;">My Library App 2021</footer>
</div>
